<h1>Welcome to CRISPR-SE (Search Engine)!</h1>

<p>CRISPR-SE is a high-performance CRISPR search engine implemented with a brute force algorithm, where the off-targets search is complete/guaranteed.</p>

<h2>Pre-computed gRNA libraries</h2>

<h3>Online tools</h3>

<ol>
<li>Find the position of your sequence/genes using <a ng-click="showIdx(2)" href="#">BLAT</a> or <a ng-click="showIdx(3)" href="#">UCSC</a> genome browser.</li>
<li><a ng-click="showIdx(4)" href="#">Scan</a> potential gRNAs (without off-targets search) online</li>
<li><a ng-click="showIdx(1)" href="#">View</a> the pre-computed gRNAs within the positions</li>
</ol>

<h3>Offline</h3>

<ol>
<li>Software <a ng-click="showIdx(6)" href="#">usage</a>
<li><a ng-click="showIdx(5)" href="#">Download</a> the pre-computed bam files</li>
<li>Search gRNAs using <a href="http://www.htslib.org/download/" target="_samtools">samtools</a></li>
</ol>

<h2>Source code</h2>
You can download the source code from <a href="https://github.com/bil022/CRISPR-SE" target="github">https://github.com/bil022/CRISPR-SE</a>.<p/>
If you have any questions, please <a ng-click="showIdx(7)" href="#">contact</a> us.</p>

<font size="1">
<a href="nmeth.4264.ris">Citation</a>: Diao, Y., Fang, R., Li, B., Meng, Z., Yu, J., Qiu, Y., Lin, K. C., Huang, H., Liu, T., Marina, R. J., Jung, I., Shen, Y., Guan, K.-L., and Ren, B. A tiling- deletion based genetic screen for cis-regulatory element identification in mammalian cells. <a href="https://www.nature.com/nmeth/journal/v14/n6/abs/nmeth.4264.html">Nature Methods</a>.</font>
